<div class="mt-4 card">
    <div class="card-body">
        <h1 class="display-4">About</h1>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ipsa vel nihil sunt laboriosam ad sit totam porro
            repellat corrupti aspernatur, fugiat sint voluptatibus? Necessitatibus praesentium dignissimos mollitia,
            saepe odio ex suscipit quia voluptatem maiores sapiente, eius magni ab explicabo.</p>
    </div>
</div>