<div class="jumbotron mt-4">
    <h1 class="display-4"> Welcome to Notes App</h1>
    <h2 class="lead"><i>Built with MongoDB, Express and Handlebars</i></h2>
    <hr class="my-4">
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore autem natus rerum, voluptatum ab magnam quis eos voluptas aut voluptatem ipsam. Odit inventore delectus porro totam sequi aliquid aperiam ea.</p>
    <a href="https://github.com/ikariset" class="btn btn-primary btn-lg"><i class="fab fa-github mx-2"></i>My Portfolio</a>
</div>