<div class="row">
    <div class="col-md-6 mx-auto card">
        <div class="card-header">
            <h4 class="card-title">Log Into Note App</h4>
        </div>
        <div class="card-body">
            <form action="/users/sign-in" method="post">
                <div class="form-group"><input type="email" name="email" class="form-control" placeholder="E-Mail" autofocus></div>
                <div class="form-group"><input type="password" name="password" class="form-control" placeholder="Password"></div>
                <div class="form-group"><button type="submit" class="form-control btn btn-block btn-primary"><i class="fas fa-user"></i> Log In</button></div>
            </form>
        </div>
    </div>
</div>